<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073489758417-mu1a3d20bvbsv7vggrnff5hak2bpkci9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073489758417-mu1a3d20bvbsv7vggrnff5hak2bpkci9</string>
	<key>API_KEY</key>
	<string>AIzaSyCItvASt-6BiY1mKIIEiJVjtb11X-Vkroo</string>
	<key>GCM_SENDER_ID</key>
	<string>1073489758417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LukeHinton.ChargeCar</string>
	<key>PROJECT_ID</key>
	<string>chargecar-2a276</string>
	<key>STORAGE_BUCKET</key>
	<string>chargecar-2a276.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073489758417:ios:fd94f21e1516840197ddf0</string>
</dict>
</plist>
